* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: Poppins;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    
}

header {
    display: flex;
    background-color: #5f0f40;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
    border: 5px solid white;
}

header span {
    font-size: 2rem;
    color: white;
    margin-left: 2rem;
}


nav ul {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e1dd;

}

nav li {
    text-align: center;
    width: 100%;
    list-style: none;
}

nav li a:hover{
    background-color: #5f0f40;
    color: white;
    
}

nav a {
    display: none;
    padding: 0.5rem;
    border-bottom: 2px solid #5f0f40;
}

.open a {
    display: block;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 20px;
    width: 90%;
    margin: 2rem auto;
}

main h1 {
    grid-column: 1;
    width: 90%;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0 auto;
    color: #FBA518;
}

.card {
    background-color: rgb(237, 230, 230);
    box-shadow: 10px 10px grey;
    border: 2px solid black;
}

.card h2 {
    background-color: #5f0f40;
    color: white;
    text-align: center;
    padding: 10px;
}

.card ul {
    margin: 1.5rem;
}

.card li {
    list-style: none;
    color: #5f0f40;
}

.card:first-of-type li a {
    display: inline-block;
    font-size: 1rem;
    margin-left: 30px;
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #5f0f40;
    color: white;
    margin-top: auto;
}

footer p {
    font-size: 1rem;
}

#menu {
    position: absolute;
    right: 1.3rem;
    top: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    color: white;

}

#menu::before {
    content: "☰";
    
}

#menu.open::before {
    content: "x";
}

.mode {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 4rem;
    top: 1rem;
}

.hero {
    position: relative;
}

.hero h2 {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 40%;
    font-family: cursive;
    font-size: 2.3rem;
    color: aliceblue;
    text-shadow: 3px 3px 3px #5f0f40;
}

.map iframe {
    width: 100%;
    
}

.info p{

    text-align: center;
    margin-top: 3rem;
    color: #5f0f40;
    
}

