@media only screen and (min-width: 600px) {

    header {
        justify-content: center;
        align-items: center;
    }
    
    header img {
        width: 120px;
    }
    
    header span {
        font-size: 3rem;
    }
    
    nav ul {
        flex-direction: row;
    
    }
    
    nav li {
        border: 1.5px solid #5f0f40;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 70%;
    }
    
    main h1 {
        grid-column: 1/3;
    }

    footer {
        margin-top: 6rem;
        height: 15vh;
    }
    footer p {
        font-size: 1rem;
    }
    
  }
